
CanaryiOS/CanaryiOS.xcodeproj/project.xcworkspace/xcuserdata/bragel.xcuserdatad/UserInterfaceState.xcuserstate
CanaryiOS/.DS_Store
*.resolved
CanaryiOS/CanaryiOS.xcodeproj/project.xcworkspace/xcuserdata/mafalda.xcuserdatad/UserInterfaceState.xcuserstate
CanaryiOS/CanaryiOS.xcodeproj/xcuserdata/mafalda.xcuserdatad/xcschemes/xcschememanagement.plist
